.container{
    display: flex;

}
.kidtainer{
    width: 400px;
    height: 593px;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.kidtainer h1{
    font-size: 3.3rem;
    color:  hsl(234, 29%, 20%);
}
ul{
    list-style-type: none;
    font-size: 1.1rem;
}
svg{
    margin-right: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}